@import 'scss/_shared.scss';

.PaginationItem {
  $this: &;

  &:first-child {
    #{$this}__link {
      margin-left: 0;
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }
  }

  &:last-child {
    #{$this}__link {
      border-top-right-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }
  }

  &--side {
    #{$this}__link {
      border-radius: 0.25rem;
      max-width: 36px;

      &:not(#{$this}__link--disabled) {
        color: $PAGINATION_SIDE_TEXT_COLOR;

        &:hover {
          color: $PAGINATION_ACTIVE_TEXT_COLOR;
          background-color: transparent;
          border-color: $PAGINATION_ACTIVE_TEXT_COLOR;
        }
      }
    }
  }

  &--arrow {
    #{$this}__link {
      &:not(#{$this}__link--disabled) {
        color: $PAGINATION_ACTIVE_TEXT_COLOR;
      }
    }
  }

  &__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    min-width: 36px;
    justify-content: center;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    border: 0.5px solid $PAGINATION_BORDER_COLOR;
    color: $PAGINATION_TEXT_COLOR;
    background-color: transparent;
    cursor: pointer;
    outline: none !important;

    &:not(#{$this}__link--disabled) {
      &:hover {
        background-color: $PAGINATION_ACTIVE_BG_COLOR;
      }
    }

    &--active {
      position: relative;
      border: $brand-primary;
      box-shadow: inset 0 1px 2px 0 $PAGINATION_INPUT_SHADOW_COLOR;
      color: white !important;
      outline: none !important;
      background-color: $brand-primary;
      z-index: 1;

      &:before {
        content: '';
        @include absolute-full-size;
      }
      &:hover {
        background-color: $brand-primary !important;
      }
    }

    &--disabled {
      color: $PAGINATION_DISABLED_TEXT_COLOR !important;
    }

    &--disabled,
    &--active {
      cursor: default;
    }
  }
}
