$FONT_WEIGHTS: (
  light: 300,
  normal: 400,
  medium: 500,
  semibold: 600,
  bold: 700
);

$FONT_SIZES: (
  BRAND: 18px,
  H1: 30px,
  H2: 24px,
  H3: 20px,
  H4: 18px,
  SUBHEAD1: 14px,
  SUBHEAD2: 12px,
  BODY: 13px,
  BODY_LARGE: 16px,
  BODY_SMALL: 12px,
  BODY_TINY: 10px,
  BODY_MICRO: 8px,
  LABEL: 14px,
  LABEL_LARGE: 16px
);

$LINE_HEIGHTS: (
  BRAND: 1,
  H1: 50px,
  H2: 40px,
  H3: 33px,
  H4: 27px,
  SUBHEAD1: 23px,
  SUBHEAD2: 20px,
  BODY: 22px,
  BODY_LARGE: 24px,
  BODY_SMALL: 20px,
  BODY_TINY: 14px,
  LABEL: 21px,
  LABEL_LARGE: 24px
);

$LIGHT_GREY: #90959d;
$AZURE: #008eed;
$BLUE_GREY_MEDIUM: #7f8fa4;
$SILVER: #cccfd4;

$BASE_SPACING: 11px;

$PAGINATION_INPUT_SHADOW_COLOR: $LIGHT_GREY;
$PAGINATION_ACTIVE_TEXT_COLOR: #222c3c;
$PAGINATION_BORDER_COLOR: #bbbbbb;
$PAGINATION_ACTIVE_BG_COLOR: #f4f5f7;
$PAGINATION_SIDE_TEXT_COLOR: #9a9fa8;
$PAGINATION_TEXT_COLOR: $BLUE_GREY_MEDIUM;
$PAGINATION_DISABLED_TEXT_COLOR: $SILVER;

$INPUT_BG_FLAT: #f4f5f7;
$INPUT_FOCUS_BORDER: $AZURE;
